@use '../../styles/variables' as v;

.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, var(--accent), var(--info));
    transform-origin: 0%;
    z-index: v.$z-fixed + 1;
}
